h1 {
    font-variant: small-caps;
    font-size: 30px;
    font-weight: bold;
    /* For some reason, I had to add !important for Firefox, else headers show as black */
    color: darkblue !important;
    margin-top: 0;
}

/* Make sure margins are set for each main secton for both screen and print */
.section-main {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#resume-header {
    border: 0;
    padding: 0;
    border-bottom: mediumblue solid thick;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #ffffff;
    height: 126px;
    top: 0;
}

#resume-body {
    margin-top: 126px;
}

#resume-footer {
    border-top: mediumblue solid medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

#personal-info {
    padding-bottom: 10px;
}

#personal-info .name {
    font-size: 36px;
    font-weight: bold;
}

#skills h2 {
    font-size: 20px;
    font-weight: bolder;
}

#skills div {
    padding-left: 10px;
}

#skills ul {
    margin-bottom: 0;
}

#skills h3 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
}

#skills .skill ul {
    list-style-type: none;
    padding-left: 10px;
    font-style: italic;
}

@media (max-width: 768px) {
    #resume-header {
        position: static;
        height: auto;
        width: auto;
    }

    #resume-body {
        margin-top: 0;
    }

}