<div class="container-fluid">

    <div id="resume-header" class="row">
        <div id="personal-info" class="section-one-page" ng-include="'partials/sections/personal-info.html'">
        </div>
    </div>

    <div id="resume-body" class="row">

        <div id="summary-mobile"
             class="section-one-page col-xs-12 section-main visible-xs hidden-sm hidden-md hidden-lg hidden-print"
             ng-include="'partials/sections/summary.html'">
        </div>

        <div class="col-sm-3 col-print-3">
            <div id="skills" class="section-multi-pages section-main">
                <h1>Skills</h1>

                <div ng-repeat="domain in resume.skills" class="section-one-page domain">
                    <h2>{{domain.domain}}</h2>

                    <div ng-repeat="skill in domain.skills" class="skill col-xs-6 col-sm-12 col-print-12">
                        <h3>{{skill.skill}}</h3>
                        <ul>
                            <li ng-repeat="subskill in skill.subskills" class="subskill">
                                {{subskill}}
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div id="code-samples" class="section-one-page section-main">
                <h1>Code Samples</h1>

                <div ng-repeat="code_sample in resume.code_samples" class="code-sample">
                    <h2 class="hidden-print"><a ng-href="{{code_sample.url}}">{{code_sample.name}}</a></h2>

                    <div class="visible-print hidden-xs hidden-sm hidden-md hidden-lg">
                        <h2>{{code_sample.name}}</h2>
                        <span class="code-sample-url">{{code_sample.url}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-9 col-print-9 col-print-right">
            <div id="summary" class="section-one-page section-main hidden-xs"
                 ng-include="'partials/sections/summary.html'">
            </div>

            <div id="work-experience" class="section-multi-pages section-main">
                <h1>Work Experience</h1>

                <div ng-repeat="work_experience in resume.work_experiences" class="section-one-page">
                    <h2>{{work_experience.position}}, {{work_experience.company}}</h2>

                    <h3>{{work_experience.location}}—{{work_experience.dates.start}}-{{work_experience.dates.end}}</h3>

                    <div class="work-experience-summary">{{work_experience.description}}</div>
                    <div class="work-experience-accomplishments">
                        <h4>Accomplishments</h4>
                        <ul>
                            <li ng-repeat="accomplishment in work_experience.accomplishments">{{accomplishment}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="awards" class="section-multi-pages section-main">
                <h1>Awards</h1>

                <div ng-repeat="award in resume.awards" class="section-one-page">
                    <h2>{{award.title}}</h2>

                    <h3>{{award.issuer}}—{{award.date}}</h3>

                    <div class="award-description">{{award.description}}</div>
                </div>
            </div>

            <div id="education" class="section-multi-pages section-main">
                <h1>Education</h1>

                <div ng-repeat="education in resume.education" class="section-one-page">
                    <h2>{{education.school}}</h2>

                    <h3>{{education.degree}}—{{education.dates.start}}-{{education.dates.end}}</h3>

                    <div class="education-description">{{education.description}}</div>
                </div>
            </div>

            <div id="organizations" class="section-multi-pages section-main">
                <h1>Organizations</h1>

                <div ng-repeat="organization in resume.organizations" class="section-onepage">
                    <h2>{{organization.position}}, {{organization.organization}}</h2>

                    <h3>{{organization.dates.start}}-{{organization.dates.end}}</h3>
                </div>
            </div>

        </div>
    </div>

    <div id="resume-footer" class="row">
        <div class="col-sm-12 col-print-12 text-center section-one-page">

            <div class="hidden-print">
            <span>Source is available at <a
                    ng-href="{{resume.general.source_url}}">{{resume.general.source_url_text}}</a></span>
            </div>

            <div class="visible-print hidden-xs hidden-sm hidden-md hidden-lg">
                <div>Created on {{current_date | date: 'longDate'}}</div>
                <div>Current Résumé/CV is available at <span class="link">{{resume.general.url}}</span></div>
                <div>Source is available at <span class="link">{{resume.general.source_url}}</span></div>
            </div>

        </div>
    </div>

</div>