<div class="hidden-print">
            <span>Source is available at <a
                    ng-href="{{resume.general.source_url}}">{{resume.general.source_url_text}}</a></span>
</div>

<div class="visible-print hidden-xs hidden-sm hidden-md hidden-lg">
    <div>Created on {{current_date | date: 'longDate'}}</div>
    <div>Current Résumé/CV is available at <span class="link">{{resume.general.url}}</span></div>
    <div>Source is available at <span class="link">{{resume.general.source_url}}</span></div>
</div>