<div class="name text-left col-sm-12 col-print-12 text-center">{{resume.personal.name}}</div>

<div id="address" class="col-sm-12 col-print-12 text-center">
    <div class="address">
            <span class="address-line" ng-repeat="address in resume.personal.address.address">
                {{address}} •
            </span>
        {{resume.personal.address.city}} •
        {{resume.personal.address.state}} •
        {{resume.personal.address.postal}} •
        {{resume.personal.address.country}}
    </div>
</div>

<div id="contacts" class="col-sm-12 col-print-12 text-center">
        <span ng-repeat="contact in resume.personal.contacts" class="contact">
            <span ng-if="!$first"> • </span>
            {{contact}}
        </span>
</div>

<div class="clearfix"></div>
