
body {
    width: 900px;
    page-break-inside: auto;
}

#resume-header {
    position: static;
    /*display: table-header-group;*/
    width: auto;
    height: auto;
}

#resume-body {
    /*display: table-row-group;*/
    margin-top: 0;
}

/*
 * Keep contents of container on same page on print, moving the whole section to the next page if needed.
 */
.section-one-page {
    page-break-inside: avoid;
    -webkit-region-break-inside: avoid;
}

/*
 * Setup multi-page sections, where the header will be repeated on every page if the section spills
 * over to the next page.
 *
 * Note that the table-header-group and table-row-group declarations are not supported in Chrome.
 * Link: http://stackoverflow.com/a/8356996/1946899
 */
.section-multi-pages {
    page-break-inside: auto;
}

.section-multi-pages h1 {
    display: table-header-group;
}

.section-multi-pages .section-one-page {
    display: table-row-group;
}

.force-page-break {
    page-break-before: always;
}

/*
 * Define .col-print-* classes to work with print layout.
 */

.col-print-1, .col-print-2,.col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-print-1, .col-print-2, .col-print-3, .col-print-4, .col-print-5, .col-print-6, .col-print-7, .col-print-8, .col-print-9, .col-print-10, .col-print-11, .col-print-12 {
    float: left;
}
.col-print-12 {
    width: 100%;
}
.col-print-11 {
    width: 91.66666667%;
}
.col-print-10 {
    width: 83.33333333%;
}
.col-print-9 {
    width: 75%;
}
.col-print-8 {
    width: 66.66666667%;
}
.col-print-7 {
    width: 58.33333333%;
}
.col-print-6 {
    width: 50%;
}
.col-print-5 {
    width: 41.66666667%;
}
.col-print-4 {
    width: 33.33333333%;
}
.col-print-3 {
    width: 25%;
}
.col-print-2 {
    width: 16.66666667%;
}
.col-print-1 {
    width: 8.33333333%;
}
.col-print-pull-12 {
    right: 100%;
}
.col-print-pull-11 {
    right: 91.66666667%;
}
.col-print-pull-10 {
    right: 83.33333333%;
}
.col-print-pull-9 {
    right: 75%;
}
.col-print-pull-8 {
    right: 66.66666667%;
}
.col-print-pull-7 {
    right: 58.33333333%;
}
.col-print-pull-6 {
    right: 50%;
}
.col-print-pull-5 {
    right: 41.66666667%;
}
.col-print-pull-4 {
    right: 33.33333333%;
}
.col-print-pull-3 {
    right: 25%;
}
.col-print-pull-2 {
    right: 16.66666667%;
}
.col-print-pull-1 {
    right: 8.33333333%;
}
.col-print-pull-0 {
    right: 0;
}
.col-print-push-12 {
    left: 100%;
}
.col-print-push-11 {
    left: 91.66666667%;
}
.col-print-push-10 {
    left: 83.33333333%;
}
.col-print-push-9 {
    left: 75%;
}
.col-print-push-8 {
    left: 66.66666667%;
}
.col-print-push-7 {
    left: 58.33333333%;
}
.col-print-push-6 {
    left: 50%;
}
.col-print-push-5 {
    left: 41.66666667%;
}
.col-print-push-4 {
    left: 33.33333333%;
}
.col-print-push-3 {
    left: 25%;
}
.col-print-push-2 {
    left: 16.66666667%;
}
.col-print-push-1 {
    left: 8.33333333%;
}
.col-print-push-0 {
    left: 0;
}
.col-print-offset-12 {
    margin-left: 100%;
}
.col-print-offset-11 {
    margin-left: 91.66666667%;
}
.col-print-offset-10 {
    margin-left: 83.33333333%;
}
.col-print-offset-9 {
    margin-left: 75%;
}
.col-print-offset-8 {
    margin-left: 66.66666667%;
}
.col-print-offset-7 {
    margin-left: 58.33333333%;
}
.col-print-offset-6 {
    margin-left: 50%;
}
.col-print-offset-5 {
    margin-left: 41.66666667%;
}
.col-print-offset-4 {
    margin-left: 33.33333333%;
}
.col-print-offset-3 {
    margin-left: 25%;
}
.col-print-offset-2 {
    margin-left: 16.66666667%;
}
.col-print-offset-1 {
    margin-left: 8.33333333%;
}
.col-print-offset-0 {
    margin-left: 0;
}

/*
 * Used specifically to make sure the column is pushed right on the printed page.
 * Otherwise, the column moves to the left after the first page if the left column
 * ends.
 */
.col-print-right {
    float: right;
}