<div class="container-fluid">

    <div id="resume-header" class="row">
        <div id="personal-info" class="section-one-page" ng-include="'partials/sections/personal-info.html'">
        </div>
    </div>

    <div id="resume-body" class="row">

        <div id="summary-mobile"
             class="section-one-page col-xs-12 section-main visible-xs hidden-sm hidden-md hidden-lg hidden-print"
             ng-include="'partials/sections/summary.html'">
        </div>

        <div class="col-sm-3 col-print-3">
            <div id="skills" class="section-multi-pages section-main" ng-include="'partials/sections/skills.html'">
            </div>

            <div id="code-samples" class="section-one-page section-main" ng-include="'partials/sections/code-samples.html'">
            </div>

        </div>

        <div class="col-sm-9 col-print-9 col-print-right">
            <div id="summary" class="section-one-page section-main hidden-xs"
                 ng-include="'partials/sections/summary.html'">
            </div>

            <div id="work-experience" class="section-multi-pages section-main"
                 ng-include="'partials/sections/work-experiences.html'">
            </div>

            <div id="awards" class="section-multi-pages section-main" ng-include="'partials/sections/awards.html'">
            </div>

            <div id="education" class="section-multi-pages section-main force-page-break"
                 ng-include="'partials/sections/education.html'">
            </div>

            <div id="organizations" class="section-multi-pages section-main"
                 ng-include="'partials/sections/organizations.html'">
            </div>

        </div>
    </div>

    <div id="resume-footer" class="col-sm-12 col-print-12 text-center section-one-page"
         ng-include="'partials/sections/footer.html'">
    </div>

</div>